<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <link rel="icon" href="~/Content/images/favicon.ico" type="image/x-icon" />
    <title>@ViewBag.Title - Электронный органайзер ASP.NET</title>

    <!-- W3.CSS -->
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="~/Content/w3-framework.css" rel="stylesheet" />

    <!-- jQuery -->
    <link href="~/Content/themes/base/all.css" rel="stylesheet" />
    <link href="~/scripts/qTip/jquery.qtip.css" rel="stylesheet" />    
    <script src="~/scripts/jquery-2.1.1.intellisense.js"></script>
    <script src="~/scripts/jquery-2.1.1.js"></script>
    <script src="~/scripts/jquery-ui-1.11.4.min.js"></script>
    <script src="~/scripts/jquery-ui-sliderAccess.js"></script>
    <script src="~/scripts/jquery.unobtrusive-ajax.min.js"></script>

    <!-- only for scheduler page (!) -->
    <link href="~/Content/fullcalendar.css" rel="stylesheet" />
    <link href="~/Content/jquery-ui-timepicker-addon.css" rel="stylesheet" />

    <!-- main style -->
    <link href="~/Content/font-awesome.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />
    
    <!--[if lt IE 9]>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <script src="~/scripts/selectivizr-1.0.2.js"></script>
        <script src="~/scripts/html5shiv.js"></script>
        <script src="~/scripts/respond.js"></script>
    <!-- <![endif] -->
</head>
<body>
    @Html.Partial("_Navbar")
    <div class="w3-row-padding w3-padding-16 w3-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Электронный органайзер ASP.NET</p>
        </footer>
    </div>
</body>
</html>