@{
    ViewBag.Title = "Контакты";
}

<!-- Sidenav/menu -->
<div class="w3-sidenav w3-collapse w3-white w3-animate-left" style="z-index:3;width:300px;max-height:700px" id="mySidenav">
    <a href="#" onclick="w3_close()" class="w3-hide-large w3-right w3-jumbo w3-padding" title="close menu">
        <i class="fa fa-remove"></i>
    </a>
    <a href="#" class="w3-padding">Азамат Абдураимов</a>
    <a href="#" class="w3-padding">Берадор Абдураимов</a>
    <a href="#" class="w3-padding">Валери Абрамидзе</a>
    <a href="#" class="w3-padding">Михаил Авербух</a>
    <a href="#" class="w3-padding">Владимир Агапов</a>
    <a href="#" class="w3-padding">Леонард Адамов</a>
    <a href="#" class="w3-padding">Лоуренс Аджей</a>
    <a href="#" class="w3-padding">Гурам Аджоев</a>
    <a href="#" class="w3-padding">Анатолий Акимов</a>
    <a href="#" class="w3-padding">Валерий Алабужев</a>
    <a href="#" class="w3-padding">Антон Алексеев</a>
    <a href="#" class="w3-padding">Дмитрий Аленичев</a>
    <a href="#" class="w3-padding">Вячеслав Амбарцумян</a>
    <a href="#" class="w3-padding">Жано Ананидзе</a>
    <a href="#" class="w3-padding">Дмитрий Ананко</a>
    <a href="#" class="w3-padding">Андре Диас</a>
    <a href="#" class="w3-padding">Гурам Аджоев</a>
    <a href="#" class="w3-padding">Анатолий Акимов</a>
    <a href="#" class="w3-padding">Валерий Алабужев</a>
    <a href="#" class="w3-padding">Антон Алексеев</a>
    <a href="#" class="w3-padding">Дмитрий Аленичев</a>
    <a href="#" class="w3-padding">Берадор Абдураимов</a>
    <a href="#" class="w3-padding">Валери Абрамидзе</a>
    <a href="#" class="w3-padding">Михаил Авербух</a>
    <a href="#" class="w3-padding">Владимир Агапов</a>
    <a href="#" class="w3-padding">Леонард Адамов</a>
    <a href="#" class="w3-padding">Лоуренс Аджей</a>
    <a href="#" class="w3-padding">Анатолий Акимов</a>
    <a href="#" class="w3-padding">Валерий Алабужев</a>
    <a href="#" class="w3-padding">Антон Алексеев</a>
    <a href="#" class="w3-padding">Дмитрий Аленичев</a>
    <a href="#" class="w3-padding">Вячеслав Амбарцумян</a>
    <a href="#" class="w3-padding">Жано Ананидзе</a>
    <a href="#" class="w3-padding">Азамат Абдураимов</a>
    <a href="#" class="w3-padding">Берадор Абдураимов</a>
    <a href="#" class="w3-padding">Валери Абрамидзе</a>
    <a href="#" class="w3-padding">Михаил Авербух</a>
    <a href="#" class="w3-padding">Владимир Агапов</a>
    <a href="#" class="w3-padding">Леонард Адамов</a>
</div>

<!-- Overlay effect when opening sidenav on small screens -->
<div class="w3-overlay w3-hide-large w3-animate-opacity" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

<div class="" style="margin-left:300px;min-height:730px">
    <div class="w3-row">
        <div class="w3-col s6 w3-container">
            <h1>Клавдия<br/>Петровна<br/>Марковникова</h1>
            <p>
                <a href="#" class="w3-hover-white w3-hover-text-cyan w3-show-inline-block"><i class="fa fa-envelope"></i>k.markovna@gmail.com</a>
            </p>
            <p>
                <a href="#" class="w3-hover-white w3-hover-text-blue w3-show-inline-block"><i class="fa fa-skype"></i>klvmarkovna213</a>
            </p>
            <p>
                <a href="#" class="w3-hover-white w3-hover-text-indigo w3-show-inline-block"><i class="fa fa-facebook-official"></i> fb.me/markovnak</a>
            </p>
            <p>
                <a href="#" class="w3-hover-white w3-hover-text-light-blue w3-show-inline-block"><i class="fa fa-twitter"></i> twitter.com/klavdianow</a>
            </p>
            <p>
                <a href="#" class="w3-hover-white w3-hover-text-indigo w3-show-inline-block"><i class="fa fa-linkedin"></i> linked.in/kfcbest</a>
            </p>
        </div>
        <img class="w3-col s6 w3-right-align w3-card-4" src="~/Content/images/avatar6.png" width="100%"/>
    </div>
</div>