
        @{
            ViewBag.Title = "Прогресс";
        }

        <h2>Список выполненых задач</h2>
        <p><i class="fa fa-check-square-o" aria-hidden="true"></i> Установка SQL Server LocalDb</p>
        <p><i class="fa fa-check-square-o" aria-hidden="true"></i> Создание таблиц в локальной базе данных</p>
        <p><i class="fa fa-check-square-o" aria-hidden="true"></i> Настройка внешних ключей и индексов</p>
        <p><i class="fa fa-check-square-o" aria-hidden="true"></i> Создание EF модели и контекста</p>
        <p><i class="fa fa-check-square-o" aria-hidden="true"></i> Выбор бесплатного пакета для ежедневника (FullCalendar)</p>
        <p><i class="fa fa-check-square-o" aria-hidden="true"></i> Нахождение рабочего примера ежедневника на WebForm</p>
        <p><i class="fa fa-check-square-o" aria-hidden="true"></i> Cоздание чистого MVC 5 проекта</p>
        <p><i class="fa fa-check-square-o" aria-hidden="true"></i> Установка необходимых пакетов через NuGet</p>
        <p><i class="fa fa-check-square-o" aria-hidden="true"></i> Установка локализаций и тем для пакетов</p>
        <p><i class="fa fa-check-square-o" aria-hidden="true"></i> Создание шаблона и представлений страниц</p>
        <p><i class="fa fa-check-square-o" aria-hidden="true"></i> Наполнение страниц рыбой</p>
        <p><i class="fa fa-check-square-o" aria-hidden="true"></i> Создание слайдера для прокрутки контактов</p>
        <p><i class="fa fa-check-square-o" aria-hidden="true"></i> Создание формы ввода и вывода для контактов</p>
        <p><i class="fa fa-check-square-o" aria-hidden="true"></i> Наполнение базы данных реальными данными</p>
        <p><i class="fa fa-check-square-o" aria-hidden="true"></i> CRUD для главной таблицы контактов</p>
        <p><i class="fa fa-square-o" aria-hidden="true"></i> CU для таблиц c телефонами, почтой и логинами от скайпа</p>
        <p><i class="fa fa-square-o" aria-hidden="true"></i> Адаптация WebForm примера ежедневника для MVC</p>
        <p><i class="fa fa-square-o" aria-hidden="true"></i> Настройка контроллера принимающего JSON данные у ежедневника</p>
        <p><i class="fa fa-square-o" aria-hidden="true"></i> Добавление на jQuery форму дополнительных полей (тип встречи, цвет)</p>