
        @{
            ViewBag.Title = "Ежедневник";
        }

        <h2>Ежедневник</h2>

        <div id="calendar"></div>
        <div class="w3-centered">
            <img src="~/Content/images/fish.png" />
        </div>