        @model OrganizerMVC.Models.ImproperCalendarEvent
        @{
            ViewBag.Title = "Ежедневник";
        }

        <script src="~/scripts/fullcalendar.js"></script>
        <script src="~/scripts/fullcalendar-usage.js"></script>
        <script src="~/scripts/gcal.js"></script>
        <script src="~/scripts/lang/ru.js"></script>
        <script src="~/scripts/jquery-ui-timepicker-addon.js"></script>
        <script src="~/scripts/i18n/jquery-ui-timepicker-ru.js"></script>

        <h2>Ежедневник</h2>

        <div id="calendar"></div>
        <div class="w3-centered">
            <img src="~/Content/images/fish.png" />
        </div>