        @{
            ViewBag.Title = "Контакты";
        }

        <h1>Контакты</h1>

        <div class="w3-row">
            <div class="w3-col m3">
                <a href="#"><input class="w3-input w3-border w3-padding" type="text" placeholder="Поиск по имяни.." id="myInput" onkeyup="myFunction()" onclick=""></a>
                <script>
		            function myFunction() {
			            var input, filter, ul, li, a, i;
			            input = document.getElementById("myInput");
			            filter = input.value.toUpperCase();
			            ul = document.getElementById("myList");
			            li = ul.getElementsByTagName("li");
			            for (i = 0; i < li.length; i++) {
				            if (li[i].innerHTML.toUpperCase().indexOf(filter) > -1) {
					            li[i].style.display = "";
				            } else {
					            li[i].style.display = "none";
				            }
			            }
		            }
                </script>

                <ul id="myList" class="w3-ul w3-margin-top" style="height: 600px; overflow-y:scroll">
                    <li class="w3-hover-grey">Азамат Абдураимов</li>
                    <li class="w3-hover-grey">Азамат Абдураимов</li>
                    <li class="w3-hover-grey">Валери Абрамидзе</li>
                    <li class="w3-hover-grey">Михаил Авербух</li>
                    <li class="w3-hover-grey">Владимир Агапов</li>
                    <li class="w3-hover-grey">Леонард Адамов</li>
                    <li class="w3-hover-grey">Лоуренс Аджей</li>
                    <li class="w3-hover-grey">Гурам Аджоев</li>
                    <li class="w3-hover-grey">Анатолий Акимов</li>
                    <li class="w3-hover-grey">Валерий Алабужев</li>
                    <li class="w3-hover-grey">Антон Алексеев</li>
                    <li class="w3-hover-grey">Дмитрий Аленичев</li>
                    <li class="w3-hover-grey">Вячеслав Амбарцумян</li>
                    <li class="w3-hover-grey">Жано Ананидзе</li>
                    <li class="w3-hover-grey">Дмитрий Ананко</li>
                    <li class="w3-hover-grey">Андре Диас</li>
                    <li class="w3-hover-grey">Гурам Аджоев</li>
                    <li class="w3-hover-grey">Анатолий Акимов</li>
                    <li class="w3-hover-grey">Валерий Алабужев</li>
                    <li class="w3-hover-grey">Антон Алексеев</li>
                    <li class="w3-hover-grey">Дмитрий Аленичев</li>
                    <li class="w3-hover-grey">Берадор Абдураимов</li>
                    <li class="w3-hover-grey">Валери Абрамидзе</li>
                    <li class="w3-hover-grey">Михаил Авербух</li>
                    <li class="w3-hover-grey">Владимир Агапов</li>
                    <li class="w3-hover-grey">Леонард Адамов</li>
                    <li class="w3-hover-grey">Лоуренс Аджей</li>
                    <li class="w3-hover-grey">Анатолий Акимов</li>
                    <li class="w3-hover-grey">Валерий Алабужев</li>
                    <li class="w3-hover-grey">Антон Алексеев</li>
                    <li class="w3-hover-grey">Дмитрий Аленичев</li>
                    <li class="w3-hover-grey">Вячеслав Амбарцумян</li>
                    <li class="w3-hover-grey">Жано Ананидзе</li>
                    <li class="w3-hover-grey">Азамат Абдураимов</li>
                    <li class="w3-hover-grey">Берадор Абдураимов</li>
                    <li class="w3-hover-grey">Валери Абрамидзе</li>
                    <li class="w3-hover-grey">Михаил Авербух</li>
                    <li class="w3-hover-grey">Владимир Агапов</li>
                    <li class="w3-hover-grey">Леонард Адамов</li>
                </ul>
            </div>
            <div class="w3-col m9 w3-container">
                <div class="w3-row">
                    <div class="w3-col l8">
                        <h3>Клавдия<br />Петровна<br />Марковникова</h3>
                        <p>
                            <a href="#" class="w3-hover-white w3-hover-text-cyan w3-show-inline-block"><i class="fa fa-envelope"></i>k.markovna@gmail.com</a>
                        </p>
                        <p>
                            <a href="#" class="w3-hover-white w3-hover-text-blue w3-show-inline-block"><i class="fa fa-skype"></i>klvmarkovna213</a>
                        </p>
                        <p>
                            <a href="#" class="w3-hover-white w3-hover-text-indigo w3-show-inline-block"><i class="fa fa-facebook-official"></i> fb.me/markovnak</a>
                        </p>
                        <p>
                            <a href="#" class="w3-hover-white w3-hover-text-light-blue w3-show-inline-block"><i class="fa fa-twitter"></i> twitter.com/klavdianow</a>
                        </p>
                        <p>
                            <a href="#" class="w3-hover-white w3-hover-text-indigo w3-show-inline-block"><i class="fa fa-linkedin"></i> linked.in/kfcbest</a>
                        </p>
                    </div>
                    <div class="w3-col l4">
                        <img class="w3-card-4" src="/Content/images/avatar6.png" width="100%" />
                    </div>
                </div>
            </div>
        </div>


        <div class="w3-row w3-margin-top">
            <div class="w3-col m3">
                <button onclick="document.getElementById('addContact').style.display='block'" class="w3-btn-block w3-green">Добавить</button>
                <div id="addContact" class="w3-modal w3-card-4">
                    <div class="w3-modal-content w3-animate-bottom">
                        <header class="w3-container w3-green">
                            <span onclick="document.getElementById('addContact').style.display='none'" class="w3-closebtn">&times;</span>
                            <h2>Добавить контакт</h2>
                        </header>
                        <form class="w3-container" action="form.asp">

                            <p>
                                <label>Фамилия</label>
                                <input class="w3-input w3-border" name="Lastname" type="text"/>
                            </p>

                            <p>
                                <label>Имя</label>
                                <input class="w3-input w3-border" name="Firstname" type="text"/>
                            </p>
                            <p>
                                <label>Отчество</label>
                                <input class="w3-input w3-border" name="Patronimic" type="text"/>
                            </p>
                        </form>
                        <div class="w3-container w3-light-grey w3-border-top w3-padding-8">
                            <button class="w3-btn w3-right w3-green "
                                    onclick="document.getElementById('addContact').style.display = 'none'">Close</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="w3-col m9 w3-display-container">
                <div class="w3-right-align">
                    <span><button onclick="document.getElementById('changeContact').style.display='block'" class="w3-btn w3-blue">Изменить</button></span>
                    <div id="changeContact" class="w3-modal w3-card-4">
                        <div class="w3-modal-content w3-animate-bottom">
                            <header class="w3-container w3-blue">
                                <span onclick="document.getElementById('changeContact').style.display = 'none'" class="w3-closebtn">&times;</span>
                                <h2>Изменить контакт</h2>
                            </header>
                            <div class="w3-container">
                                <p>Фамилия..</p>
                                <p>Имя..</p>
                            </div>
                            <div class="w3-container w3-light-grey w3-border-top w3-padding-8">
                                <button onclick="document.getElementById('changeContact').style.display = 'none'" class="w3-btn w3-right w3-blue">Изменить</button>
                            </div>
                        </div>
                    </div>
                    <span><button onclick="document.getElementById('delContact').style.display='block'" class="w3-btn w3-red">Удалить</button></span>
                    <div id="delContact" class="w3-modal w3-card-4">
                        <div class="w3-modal-content w3-animate-bottom">
                            <header class="w3-container w3-red">
                                <span onclick="document.getElementById('delContact').style.display = 'none'" class="w3-closebtn">&times;</span>
                                <h2>Удалить контакт?</h2>
                            </header>
                            <div class="w3-container w3-light-grey w3-border-top w3-padding-8">
                                <button onclick="document.getElementById('delContact').style.display = 'none'" class="w3-btn w3-right w3-red">Да</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
