/* Common style */
body {
    font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
    padding-top: 50px;
    padding-bottom: 20px;
}
.w3-content {
    padding-left: 15px;
    padding-right: 15px;
    max-width: 1100px;
}
.w3-navbar {
    z-index: 10;
}

/* Contacts */
input, select, textarea {
    max-width: 280px;
}
#myList li {
    padding: 0 0;
}
#myList li a {
    display: block;
    padding:6px 2px;
    text-decoration: none;
}

/* Fullcalendar */
#calendar {
    width: 100%;
    min-width: 500px;
    max-height: 400px;
}
.fc-view {
    box-shadow:0 2px 4px 0 rgba(0,0,0,0.2),0 2px 10px 0 rgba(0,0,0,0.19)!important;
}

.fc-center h2 {
    font-size: 25px;
}
.ui-widget-header {
    background: #f44336 !important;
    border-width: 0px !important;
    border-right-width: 1px;
    font-weight: normal;
    color: #ffffff;
    padding: 4px 0;
}
.fc-button-group {
    box-shadow:0 2px 4px 0 rgba(0,0,0,0.2),0 2px 10px 0 rgba(0,0,0,0.19)!important;
    border-radius:4px!important;
}
.fc-today-button {
    box-shadow:0 2px 4px 0 rgba(0,0,0,0.2),0 2px 10px 0 rgba(0,0,0,0.19)!important;
    border-radius:4px!important;
}
.fc-toolbar {
    margin-bottom: 0;
}

.ui-state-default {
    background: #f3f3f3 !important;
}
.ui-widget-content {
    background: #f3f3f3;
}

/* Timepicker */
.ui-timepicker-div dl
{
	text-align: left;
}
.ui-timepicker-div dl dt
{
	height: 25px;
}
.ui-timepicker-div dl dd
{
	margin: -25px 0 10px 65px;
}
.style1
{
	width: 100%;
}